.about-section {
    background-color: $color_light_gray_bg;

    .about-content {
        h2 {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 15px;
        }
    }
}