.call-us-section {
    background-image: linear-gradient(-60deg, #19798E, #DB0606);
}

.call-us-content {
    h2 {
        color: $color_white;
        font-weight: 700;
        margin-bottom: 15px;
    }
}